.container {
	max-width: 700px;
	margin: 20px auto;
	padding: 20px;
	background-color: #181818;
	border-radius: 8px;
}

.headingContainer {
	display: flex;
	justify-content: space-between;
}

.heading {
	font-size: 24px;
	color: #ffffff;
	cursor: pointer;
}
.heading:hover {
	transition: 0.2s;
	color: #c4c4c4;
}

.headingTwo {
	cursor: pointer;
	font-size: 24px;
	color: #686868;
}
.headingTwo:hover {
	transition: 0.2s;
	color: #505050;
}

.number {
	color: #b1b1b1;
	margin-right: 20px;
	margin-left: 20px;
}

.songItems {
	list-style: none;
	padding: 0;
}

.title {
	flex: 1;
	color: #ffffff;
	font-size: 16px;
	color: #ffffff;
	margin-bottom: 20px;
}

.item {
	display: flex;
	align-items: center;
	padding: 15px;
	border-bottom: 1px solid #202020;
	transition: background-color 0.5s;
}

.item:hover {
	background-color: #333;
	cursor: pointer;
}

.img {
	width: 50px;
	height: 50px;
	border-radius: 4px;
	margin-right: 15px;
}

.views,
.time,
.favourite {
	color: #b3b3b3;
	font-size: 18px;
	margin: 0 5px;
}
.edit {
	color: #b3b3b3;
	font-size: 18px;
	margin-left: 15px;
}
.favourite {
	padding: 10px 15px;
}
.edit:hover,
.favourite:hover {
	color: white;
	transform: scale(1.1);
	transition: transform 0.2s, color 0.2s;
}

.p {
	margin-top: 10px;
	color: #c4c4c4;
}
.audioContainer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #202020;
	padding: 10px 0;
	z-index: 1000;
}

.audioPlayer {
	width: 100%;
	color: #ffffff;
}

audio::-webkit-media-controls-panel {
	background-color: #202020;
	color: #ffffff;
}

audio::-webkit-media-controls-timeline-container {
	filter: invert(100%);
}

audio {
	color-scheme: dark;
}

.editInput {
	width: 300px;
	min-width: 200px;
	background-color: #000000;
	border: none;
	color: #ffffff;
	margin: 0 10px;
	padding: 7px 20px;
	border-radius: 8px;
}
