@media (min-width: 100px) {
	.container {
		max-width: 700px;
		background-color: #181818;
		border-radius: 8px;
	}

	.songItems {
		list-style: none;
		padding: 0;
	}
	.p {
		margin-top: 10px;
		color: #c4c4c4;
	}
}
