@media (min-width: 100px) {
	.number {
		color: #b1b1b1;
		display: none;
	}

	.title {
		flex: 1;
		color: #ffffff;
		font-size: 13px;
		color: #ffffff;
		margin-left: 15px;
		margin-bottom: 20px;
	}

	.item {
		display: flex;
		align-items: center;
		padding: 15px;
		border-bottom: 1px solid #202020;
		transition: background-color 0.5s;
	}

	.item:hover {
		background-color: #333;
		cursor: pointer;
	}

	.img {
		width: 50px;
		height: 50px;
		border-radius: 4px;
	}

	.time,
	.favourite {
		color: #b3b3b3;
		padding: 10px 15px;
	}

	.edit {
		color: #b3b3b3;
		font-size: 18px;
		margin-left: 15px;
	}

	.edit:hover,
	.favourite:hover {
		color: white;
		transform: scale(1.1);
		transition: transform 0.2s, color 0.2s;
	}
}
@media (min-width: 500px) {
	.number {
		display: block;
		margin-right: 20px;
		margin-left: 20px;
	}
	img {
		margin-right: 15px;
	}
	.time,
	.favourite {
		margin: 0 5px;
		font-size: 18px;
	}
	.title {
		font-size: 14px;
	}
}
