.container {
	max-width: 700px;
	margin: 20px auto;
	padding: 20px;
	background-color: #181818;
	border-radius: 8px;
}

.headingContainer {
	display: flex;
	justify-content: space-between;
}

.heading {
	font-size: 24px;
	color: #ffffff;
	cursor: pointer;
}
.heading:hover {
	transition: 0.2s;
	color: #c4c4c4;
}

.headingTwo {
	cursor: pointer;
	font-size: 24px;
	color: #686868;
}
.headingTwo:hover {
	transition: 0.2s;
	color: #505050;
}

.favourite {
	color: #b3b3b3;
	font-size: 18px;
	margin: 0 5px;
	padding: 10px 15px;
}

.favourite:hover {
	color: white;
	transform: scale(1.1);
	transition: transform 0.2s, color 0.2s;
}
